html {
  font-size:8px;
}
.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  text-align: center;
  font-size:10px;
  font-family:"Manufacturing consent",sans-serif;
}

 h1 {
  color: skyblue;
  /* font-style:italic; */
  font-size:32px;
  font-weight:800px;
  letter-spacing:2px;
  word-spacing: 10px;
  text-transform: capitalize;
  text-shadow: 2px 2px 3px rgba(31, 5, 65, 0.5);
  
} 
.ol {
  font-size:2em;
  font-weight: 600;
  text-align: left;
  text-decoration:dashed;
}
li {
   background-color:rgba(150,150,50,0.5);
    line-height:1;
    letter-spacing:1px;
   color:white;
}
.unorder_list {
  background-color:lightblue;
  font-size:2rem;
  color:red;
  /* font-style:oblique; */
}
article {
  font-size:2rem;
}
footer {
  font-size:20px;
}
