a {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(114, 209, 209);
    line-height: 1.6;
    text-decoration: none;
}
a:hover {
    color: rgb(148, 105, 40);
    text-decoration: underline;
}
a:focus {
    outline: 2px solid blue;
    color: rgb(16, 2, 2);
    outline-offset: 5px;
}

a:active {
    background-color: rgb(188, 128, 244);
    color:white;
    text-decoration: none;
}
a:visited {
    color:orange;
}